@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,300&family=Raleway:ital,wght@1,100;1,400&display=swap');

:root{

    --primary-color : rgb(99, 204, 236);
    --grey-color :#6B7280;
    --half-white-color :#E5E7EB;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

/** container **/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-container{

    max-width: 600px;
    margin: auto;
}

hr{
    margin :2rem 0rem;
}

/** link **/ 

.link{

    text-decoration: none;
    padding: 0.5rem 0.5rem;
}

.primary{

    background-color: var(--primary-color);
    border-radius: 0.5rem;

    color: black;
}

.secondary{
    color: black;

    border-radius: 0.5rem;

    border: 1px solid var(--primary-color);
}

.footer-link{

    border-radius: 00.5rem;

    background-color: var(--grey-color);
}

/**bullet **/

.non-bullet{

    list-style: none;
}

.list-inline-item{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background: var(--primary-color);
    color: var(--primary-color)black;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link-active{

    font-weight: bold;
}

.navigation .link{
    color: black;
}

/** Header **/

.hero{

    padding: 2rem;
}

.hero .hero-img{

    display: block;

    max-width: 350px;
    margin: auto;
}

.hero .hero-heading{

    color: var(--grey-color);

    text-align: center;

}

 .hero .hero-heading .small-heading{ 

    color: var(--primary-color);
} 

/** sections **/

.section{
    padding:2rem;

}

.section  h1{

    text-align: center;
}

.greysection{
    background-color: var(--half-white-color);
}

/**  footer **/

.footer{
    background-color: var(--primary-color);
    padding:2rem;
    text-align: center;
    color: black;
    border-bottom-right-radius: 1rem;
}

.footer .footer-header{

    font-weight: bold;

    font-size: large;
}

.footer .link{
    color: black;
}
.footer ul{
    padding-inline-start: 0px;
}